
.scrollable-list {
  max-height: 12rem;
  overflow-y: auto;
}

.scrollable-list .list-group-item:hover {
  background-color: rgba(0,0,0,.03);
}

table.results-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table.results-table tr:nth-child(even) {
  background-color: #e4e4e4;
}

.highlight {
  background-color: #dddddd;
}

td, th {
  border: 1px solid black;
}